.column {
position:relative;
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after{
  content: "";
  display:table;
  clear: both;


}
.column {
    width: 100%;
  }
.container{
display:flex;
}
